
    <div class="header w-100">
        <div class="d-flex justify-around align-center">
            <img src="./assets/img/funk00010.gif" alt="">
            <img src="./assets/img/ban_ctfrac.png" alt="">
            <img src="./assets/img/flags.gif" alt="">
        </div>    
        <div class="d-flex justify-center txt-center">
            <p class="header-content">
                HAM - CB - SWL - BCL - COMPUTER - AM - FM - SSB<br>
                Monitor Frequenz 26.765 FM, 27.385 FM<br>
                Packet-Radio 26.675 FM, 26.915 FM, 26.925 FM, 27.245 FM<br>
                SSTV 26.685 FM
            </p>
        </div>
        <div class="d-flex w-100 justify-center">
            <img src="./assets/img/kodax-02.gif" alt="">
        </div>
        <div class="welcome-text">
            <h1 id="headLine">
                Herzlich Willkommen bei<br>
                DX-CharlyTango
            </h1>   
        </div>        
    </div>
    