<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/main.js"></script>
    <title>DX-Navbar</title>
</head>
<body>
    <div id="submenu" class="submenu navbar d-none d-flex">
        <div>
            <img onclick="closeSubMenu()" class="cross" src="./assets/img/cross.png" alt="Close menu Cross"> 
            
            <div class="navbar flex-wrap">
                        <!-- CT-hauptmenü -->
                    <nav class="d-flex column txt-center active" onclick="openNavEntry(event)">
                        <a class="bg-green">CT - Hauptmenü</a>
                        <a href="./about-us.html">Über CharlyTango</a>
                        <a href="./ct-today.html">CharlyTango Heute</a>
                        <a href="./in-memorian.html">In Gedanken</a>
                        <a href="./neues-mitglied.html">Neuanmeldung</a>
                        <a href="./mitglieder-liste.html">Mitgliederliste</a>
                        <a href="./neue-mitglieder.html">Neue Mitglieder</a>
                        <a href="./qsl-karten.html">QSL-Karten</a>
                        <a href="./ct-frequenzen.html">CT-Frequenzen</a>
                        <a href="./downloads.html">CT-Downloads</a>
                        <a href="./prefix.html">Prefix - Liste</a>
                    </nav>   
                        <!--Funkbereich-->
                    <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                        <a class="bg-green">Funkbereich</a>
                        <a href="#">Was sind freie Funknetze</a>
                        <a href="#">Geschichte CB-Funk</a>
                        <a href="#">Bandplan CB 11m</a>
                        <a href="#">Bandplan Freenet 149MhZ</a>
                        <a href="#">Bandplan PMR 446MhZ</a>
                        <a href="#">CB Einsatzgebiete</a>
                        <a href="#">CB Betriebsart</a>
                        <a href="#">Abkürzungen im CB</a>
                        <a href="#">CB-Sprache</a>
                        <a href="#">Regeln</a>
                        <a href="#">Notruf</a>
                        <a href="#">CB-Funk SWR</a>
                    </nav>  
                        <!--Allgemeines-->
                    <nav class="d-flex column txt-center"  onclick="openNavEntry(event)">
                        <a class="bg-green">Allgemeines</a>
                        <a target="_blank" href="https://www.bundesnetzagentur.de/">Bundesnetzagentur</a>
                        <a target="_blank" href="https://www.teamviewer.com/de/">TeamViewer</a>
                        <a target="_blank" href="https://www.afup.a36.de/">AFU-Prüfung</a>
                        <a href="./cb-schutzzone.html">CB-Funk Schutzzone</a>
                        <a href="./hochfrequenzwellen.html">Hochfrequenzwellen</a>
                        <a href="./wellenausbreitung.html">Wellenausbreitung</a>
                        <a href="hf-stoerungen.html">HF-Störungen</a>
                        <a target="_blank" href="http://qthlocator.free.fr/index.php">Locator - Bestimmung</a>
                        <a target="_blank" href="https://www.qsl.net/404.html">Locatorberechnung</a>
                        <a href="./alphabet.html">Buchstabier-Alphabet</a>
                    </nav> 
                            <!--Teamspeak-Menü-->
                        <nav class="d-flex column txt-center"  onclick="openNavEntry(event)">
                            <a class="bg-green">Teamspeak 3</a>
                            <a target="_blank" href="https://www.teamspeak.de/download/">TS-3 Download</a>
                            <a href="./ts3-inst-hilfe.html">TS-3 Installationshilfe</a>
                        </nav>  
                            <!--GW-Technik-Menü-->
                        <nav class="d-flex column txt-center"  onclick="openNavEntry(event)">
                            <a class="bg-green">GW-Technik</a>
                            <a href="./gw-interface.html">Einfaches Interface</a>
                            <a target="_blank" href="https://freiesfunknetz.com/viewpage.php?page_id=258">Soundkarteninterface</a>
                            <a href="./cb-mikrofon-belegung.html">Mikrofonbelegung CB</a>
                            <a href="./pmr-mikrofon-belegung.html">Mikrofonbelegung PMR</a>
                        </nav>
                            <!--PR-Technik-->
                        <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                            <a class="bg-green">PR-Technik</a>
                            <a href="#">Geschichte PR</a>
                            <a href="#">Was ist PR</a>
                            <a href="#">PR Betriebsart</a>
                            <a href="#">PR auf CB-Funk</a>
                            <a href="#">PR-Download</a>
                        </nav>
                        <!--Weather-->
                        <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                            <a class="bg-green">Wetter Info</a>
                            <a href="#">Blitzradar</a>
                            <a href="#">Wetterwarnung</a>
                            <a href="#">Blitzortung</a>
                        </nav>
                        <!--Interface-->
                        <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                            <a class="bg-green">Interface SSTV</a>
                            <a href="#">Anleitung Interface SSTV</a>
                            <a href="#">Download Interface SSTV</a>
                        </nav>
                        <!--Allgemeine News-->
                        <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                            <a class="bg-green">Allgemeine News</a>
                            <a href="#">Funkmagazin</a>
                            <a href="#">DARC</a>
                        </nav>
                       
            </div>
        </div>    
    </div>   
    
</body>
</html>