<div onclick="closeSubMenu()" id="overLay" class="overlay d-none"></div>

    <div id="submenu" class="submenu navbar d-none d-flex">
        <div>
            <!-- <img onclick="closeSubMenu()" class="cross mobile-hide" src="./assets/img/cross.png" alt="Close menu Cross">  -->
            <div class="navbar flex-wrap">
                        <!-- CT-hauptmenü -->
                    <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                        <div class="bg-green submenu-headline">CT - Hauptmenü</div>
                        <a href="./about-us.html">Über CharlyTango</a>
                        <a href="./ct-today.html">CharlyTango Heute</a>
                        <a href="./in-memorian.html">In Gedanken</a>
                        <a href="./neues-mitglied.html">Neuanmeldung & Kontakt</a>
                        <a href="./mitglieder-liste.html">Mitgliederliste</a>
                        <a href="./neue-mitglieder.html">Neue Mitglieder</a>
                        <a href="./qsl-karten.html">QSL-Karten</a>
                        <a href="./ct-frequenzen.html">CT-Frequenzen</a>
                        <a href="./prefix.html">Prefix - Liste</a>
                    </nav>   
                        <!--Funkbereich-->
                    <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                        <div class="bg-green submenu-headline">Funkbereich</div>
                        <a href="./freie-funknetze.html">Was sind freie Funknetze</a>
                        <a href="./cb-geschichte.html">Geschichte CB-Funk</a>
                        <a href="./cb-bandplan11m.html">Bandplan CB 11m</a>
                        <a href="./freenet-bandplan.html">Bandplan Freenet 149MhZ</a>
                        <a href="./pmr-bandplan.html">Bandplan PMR 446MhZ</a>
                        <a href="./cb-einsatzgebiete.html">CB Einsatzgebiete</a>
                        <a href="./cb-betriebsarten.html">CB Betriebsart</a>
                        <a href="./cb-abkuerzung.html">Abkürzungen im CB</a>
                        <a href="./cb-sprache.html">CB-Sprache</a>
                        <a href="./cb-regeln.html">Regeln</a>
                        <a href="./cb-notruf.html">Notruf</a>
                        <a href="./cb-swr.html">CB-Funk SWR</a>
                    </nav>  
                        <!--Allgemeines-->
                    <nav class="d-flex column txt-center"  onclick="openNavEntry(event)">
                        <div class="bg-green submenu-headline">Allgemeines</div>
                        <a target="_blank" href="https://www.bundesnetzagentur.de/">Bundesnetzagentur</a>
                        <a target="_blank" href="https://www.teamviewer.com/de/">TeamViewer</a>
                        <a target="_blank" href="https://www.afup.a36.de/">AFU-Prüfung</a>
                        <a href="./cb-schutzzone.html">CB-Funk Schutzzone</a>
                        <a href="./hochfrequenzwellen.html">Hochfrequenzwellen</a>
                        <a href="./wellenausbreitung.html">Wellenausbreitung</a>
                        <a href="hf-stoerungen.html">HF-Störungen</a>
                        <a target="_blank" href="http://qthlocator.free.fr/index.php">Locator - Bestimmung</a>
                        <a target="_blank" href="https://www.qsl.net/404.html">Locatorberechnung</a>
                        <a href="./alphabet.html">Buchstabier-Alphabet</a>
                    </nav> 
                            <!--Teamspeak-Menü-->
                        <nav class="d-flex column txt-center"  onclick="openNavEntry(event)">
                            <div class="bg-green submenu-headline">Teamspeak 3</div>
                            <a href="https://www.tsviewer.com/index.php?page=ts_viewer&ID=1125941" target="_blank">TS-3 Viewer</a>
                            <a target="_blank" href="https://www.teamspeak.de/download/">TS-3 Download</a>
                            <a href="./ts3-inst-hilfe.html">TS-3 Installationshilfe</a>
                        </nav>  
                            <!--GW-Technik-Menü-->
                        <nav class="d-flex column txt-center"  onclick="openNavEntry(event)">
                            <div class="bg-green submenu-headline">GW-Technik</div>
                            <a href="./gw-interface.html">Einfaches Interface</a>
                            <a target="_blank" href="https://freiesfunknetz.com/viewpage.php?page_id=258">Soundkarteninterface</a>
                            <a href="./cb-mikrofon-belegung.html">Mikrofonbelegung CB</a>
                            <a href="./pmr-mikrofon-belegung.html">Mikrofonbelegung PMR</a>
                        </nav>
                            <!--PR-Technik-->
                        <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                            <div class="bg-green submenu-headline">PR-Technik</div>
                            <a href="./pr-geschichte.html">Geschichte PR</a>
                            <a href="./was-ist-pmr.html">Was ist PR</a>
                            <a href="pr-betriebsarten.html">PR Betriebsart</a>
                            <a href="pr-auf-cb.html">PR auf CB-Funk</a>
                        </nav>
                        <!--Weather-->
                        <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                            <div class="bg-green submenu-headline">Wetter Info</div>
                            <a target="_blank" href="http://www.unwetterzentrale.de/uwz/">Wetterwarnung</a>
                            <a target="_blank" href="https://www.blitzortung.org/en/live_lightning_maps.php">Blitzortung</a>
                        </nav>
                        <!--Allgemeine News-->
                        <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                            <div class="bg-green submenu-headline">Allgemeine News</div>
                            <a target="_blank" href=" https://www.funkamateur.de/">Funkmagazin</a>
                            <a target="_blank" href="https://www.darc.de/home/">DARC</a>
                        </nav>                        
                        <!--Live-->
                        <nav class="d-flex column txt-center" onclick="openNavEntry(event)">
                            <div class="bg-green submenu-headline">Live</div>
                            <a target="_blank" href="http://funknetzdeutschland.ddnsking.com:8073/">WEB SDR Live</a>
                            <a target="_blank" href="http://www.websdr.org/"><img class="radio" src="./assets/img/radioani.gif" alt="TEST"></a>
                            <a target="_blank" href="http://2bs7fpf8ahdewu8a.myfritz.net:8901/#freq=149100000,mod=nfm,sql=-150">WEB SDR Live DM0MAX</a>
                        </nav>
                       
            </div>
        </div>    
    </div>   
    
