<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/main.js"></script>
    <title>header Charly Tango</title>
</head>
<body>
    <div class="nav d-flex w-100 bg-page">
        <div>
            <div class="d-none"></div>
        </div>
        <div onclick="openSTartPage()" class="">
            <img id="navImg" class="navbarbanner d-none" src="./assets/img/bannercut.png" alt="">
        </div>

        <div onclick="openCtMenu()" class="main-menu">HAUPTMENÜ</div>

      
        <!-- <div onclick="openCtMenu()" class="main-menu">Startseite</div> -->
    </div>
</body>
</html>