    <div class="nav d-flex w-100 bg-page bounce-in-top">
        <img  onclick="openCtMenu()" id="navImg" class="navbarbanner d-none mobile-d-flex" src="./assets/img/square.png" alt="">
        <div></div>
        <div onclick="openSTartPage()" class="open-start-page-btn">
            <img class="navbarbanner" src="./assets/img/bannercut.png" alt="">
        </div>

        <div onclick="openCtMenu()" class="main-menu mobile-hide">HAUPTMENÜ</div>
      
        <!-- <div onclick="openCtMenu()" class="main-menu">Startseite</div> -->
    </div>
