@media(max-width: 1540px){
            
    .mobile-hide{
        display: none;
    }

    .mobile-table{
        display: flex;
        overflow: hidden;
    }

    .mobile-table tbody{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .mobile-table tr{
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

    }
    
 
}            