


.header-container h1{
    font-size: 42px;
    margin-left: 120px;
    text-shadow: 5px 4px 0 #171515;
}

.txt-cont{
    position: absolute;
    bottom: 30%;
}

@media(max-width: 1024px){
    .header-container h1{
        font-size: 2.2rem;
    }
}

@media(max-width: 768px){
    .header-container{
        max-height: 70vh;
        padding-bottom: 0px;
        border-bottom: none;
        border-bottom-right-radius: 0%;
        box-shadow: none;
    }
    .header-container h1{
        font-size: 2rem;
    }
    /* .txt-cont{
        bottom: 30%;
    } */
    .index-image-slider{
        height: 70vh;
    }

}


@media(max-width: 425px){

    .header-container{
        height: 70vh;
        background-position: bottom;
    }

    .header-container h1{
        font-size: 1.1rem;
        text-shadow: 3px 2px #171515;
    }
    .navbarbanner {
        height: 32px;
}
}

@media(max-width: 375px){
    .header-container h1 {
        font-size: 0.88rem;
        text-shadow: 2px 1px #171515;
    }
}    
