@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-mono-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-mono-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.bg-page{
    background-color: #1095b0;
}

.bg-green{
    background-color: #5bb511;
}

.header{
    font-family:  'Roboto Mono';
    height: 75vh;
    background-color: #00aef7;
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 5px solid white;
    border-bottom-right-radius: 100%;
    box-shadow: 1px 1px 1px 0px black;
}

.header-content{
    margin-top: 70px;
    font-size: 24px;
    color: white;
}

.welcome-text p{
    font-family:  'Roboto Mono';
    font-size: 20px;;
}
.welcome-text h1{
    font-size: 42px;
    margin-left: 120px;
}

.margin-top-30px{
    margin-top: 70px;
}

.margin-bottom-30px{
    margin-bottom: 70px;
}

.teamspeak h2{
    font-size: 35px;
}

.ts-img{
    width: 120px;
}

.contact h2{
    font-size: 35px;
    font-family: 'Roboto Mono';
}

.contact p{
    font-family:  'Roboto Mono';
    font-size: 20px;
}

.contact img{
    width: 235px;
}

.footer{
    font-family:  'Roboto Mono';
    min-height: 35vh;
    background-color: #00aef7;
    border-top: 5px solid white;
    /* border-top-left-radius: 100%; */
    box-shadow: 0px 1px 1px 2px black;
    padding-top: 120px;
}

.footer a{
    font-size: 36px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    cursor: pointer;
} 

.footer a:hover{
    text-decoration: underline;
}

.footer h2{
        font-size: 36px;
        color: red;
}

.footer p{
    font-size: 18px;
    color: white;
}

.w-70{
    width: 70%;
}

.nav{
    font-family:  'Roboto Mono';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    height: 65px;    
}

.main-menu{
    border: solid 1px white;
    border-radius: 12px;
    padding: 4px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px black;
}

.main-menu:hover{
    background-color: white;
    color: #1095b0;
    box-shadow: 1px 1px 1px 1px #00aef7;

}

.navbar a{
    font-size: 15px;
    border: solid white;
    text-decoration: none;
    color: white;
    padding: 6px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 240px;
    font-family: 'Roboto Mono';
}

.navbar a:hover{
    color: #1095b0;
    background-color: white;
}

.submenu{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1095b0;
}

.cross{
    position: absolute;
    top: 45px;
    right: 45px;
    width: 45px;
}